body::before {
    background: none;
}
body{
    color: #F5F5F5 !important;
    background-image: url("prism.png");
}
a:hover {
    color: #8d0098;
}
.bs-sidebar {
    background-color: #444444 !important;
    border-color: #a400b1;
}
h1, h2, h3, h4, h5, h6 {
    color: #a400b1;
}
.navbar-default {
    background-image: linear-gradient( #a400b1, #be00cc 60%,#9500a1);
    border-color: #a400b1;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #444444;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #8d0098
}
.bs-sidebar .nav > li > a:hover, .bs-sidebar .nav > li > a:focus {
    border-color: #a400b1;
}
a:focus, a {
    color: #a400b1;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #303030
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #303030
}